.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #1C2B35;
    height: 80px;
}
.header a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
@media only screen and (max-width: 576px) {
    .header{
        display: block;
    }
}
.logo{
    color: white;
}